.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}
.post_headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}
.post_body > img {
  border-radius: 20px;
}
.post_body {
  flex: 2;
  padding-left: 5px;
  padding-bottom: 12px;
  /* margin-bottom: 15px; */
}
.post_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.post_badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}
.post_headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: grey;
}
.post_avatar {
  padding: 10px;
}
.post_avatar{
  font-size: medium;
  padding: 25px;
}